@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans";
}

header {
  background-color: #FF69B4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2vh;
  font-weight: normal;
  color: white;
}

.headerImg {
  height: 9vh;
}

.Sessao {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 17vw;
}

.desaparecer {
  display: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
}

li {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FFD9EC;
}

.primeiraSessao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 45vh;
}

.Maimg1 {
  height: 40vh;
}

.p1 {
  font-size: 2.2vh;
  width: 24vw;
}

.segundaSessao {
  background-color: #FF69B4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 34vh;
}

.Maimg2 {
  height: 30vh;
}

.p2 {
  color: white;
  font-size: 2.3vh;
  width: 30vw;
}

.terceiraSessao {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 34vh;
}

.dicas {
  height: 26vh;
}

footer {
  background-color: #FF69B4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}

.footerSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10vw;
}

h2 {
  font-size: 2vh;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  height: 5vh;
  cursor: pointer;
}

.outIcon {
  height: 10vh;
}

@media (max-width: 850px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Sessao {
    width: 100%;
    justify-content: space-evenly;
  }
  .desaparecer {
    display: flex;
    height: 8vh;
  }
  nav {
    display: none;
  }
  .primeiraSessao {
    flex-direction: column;
    height: 65vh;
    justify-content: space-around;
  }
  .p1 {
    font-size: 2vh;
    width: 88vw;
  }
  .Maimg1 {
    height: 25vh;
  }
  .segundaSessao {
    flex-direction: column;
    justify-content: space-evenly;
    height: 65vh;
  }
  .p2 {
    font-size: 2vh;
    width: 88vw;
  }
  .Maimg2 {
    height: 20vh;
  }
  .terceiraSessao {
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
  }
  .dicas {
    height: 20vh;
  }
  footer {
    align-items: center;
    justify-content: space-around;
    height: 20vh;
  }
  .fim {
    color: white;
    width: 34vw;
    font-size: 2vh;
    text-align: center;
  }
  .footerSection {
    flex-direction: column;
  }
  .outIcon {
    height: 7vh;
  }
}
